@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

:root {
  --dm-font: "DM Sans", sans-serif;
  --bricol-font: "Bricolage Grotesque", sans-serif;
  --anim: 0.5s all;
  --primary-color: #bd9e5c;
  --secondary-color: #0a163e;
}
html {
  scroll-behavior: auto;
}
body{
font-family: var(--dm-font);
}